<!doctype html>
<html lang="en" data-framework="typescript">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>React • TodoMVC • Config</title>
	
	<% if (htmlWebpackPlugin.options.environment.production) { %>
	<script src="https://unpkg.com/react@15/dist/react.min.js"></script>
	<script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
	<% } %>
</head>

<body class="config">
	<section class="configApp"></section>
	<script src="https://statics.teams.microsoft.com/sdk/v0.4/js/MicrosoftTeams.js"></script>
</body>

</html>